/* Experience Section */
.experience {
  padding: 80px 0;
  text-align: center;
  background-color: #ffffff;
  animation: fadeIn 1.5s ease-out;

  @media (max-width: 1000px) {
    padding: 40px 0;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 30px;
    color: #555;
    white-space: pre-wrap;
  }

  h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 35px;

    @media (max-width: 1000px) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 28px;

    @media (max-width: 1000px) {
      font-size: 23px;
    }
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;

    @media (max-width: 1000px) {
      font-size: 15px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .image {
    flex: 0 0 50%; /* Ensure the image takes up exactly 33% of the container's width */
    object-fit: cover; /* Ensures the image covers the space while maintaining its aspect ratio */
    height: auto; /* Maintain aspect ratio */
    max-width: 50%;
    min-width: 33%;
    opacity: 0; /* Initially hidden */
    transform: translateX(100px); /* Start off-screen */
    transition: all 0.6s ease-in-out;

    &.slide-in {
      opacity: 1;
      transform: translateX(0); /* Slide into view from the left */
    }

    @media (max-width: 1000px) {
      flex: 0 0 100%; /* Image will take up full width */
      max-width: 100%;
      height: auto; /* Maintain aspect ratio on smaller screens */
      opacity: 1;
      transform: translateX(0);
    }
  }

  .text {
    flex: 0 0 50%; /* The text takes up the remaining space */
    opacity: 0;
    transform: translateX(-100px); /* Start off-screen */
    transition: all 0.6s ease-in-out;

    &.slide-in {
      opacity: 1;
      transform: translateX(0); /* Slide into view from the left */
    }

    @media (max-width: 1000px) {
      flex: 0 0 100%; /* Text will also take full width */
      opacity: 1;
      transform: translateX(0);
    }
  }

  .logo-row {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;

    @media (max-width: 1000px) {
      margin: 30px 0;
    }
  }

  .logo-container {
    position: relative;
    display: inline-block;
    flex: 1;
    text-align: center;

    &:hover .logo-text-container {
      opacity: 1;
      visibility: visible;
    }
  }

  .logo {
    object-fit: cover;
    height: auto;
    max-width: 90px;
  }

  .logo-text-container {
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    width: 120px;
    margin: 0 auto;

    @media (max-width: 1000px) {
      opacity: 1;
      visibility: visible;
      margin-bottom: 20px;
    }
  }

  .detail-line-ver {
    background-color: #2c3e50;
    width: 3px;
    height: 80%;
    justify-self: center;
    margin-top: 80px;
    transition: height 1s ease-in-out;

    @media (max-width: 1000px) {
      visibility: hidden;
    }
  }

  .detail-line-hor {
    background-color: #2c3e50;
    width: 80%;
    height: 2px;
    justify-self: center;
    margin: 40px 0;
  }

  .detail-icons {
    margin: 0 20%;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1000px) {
      margin: 0;
    }
  }

  .detail-icon {
    width: 20%;
    margin: 50px 0;
    max-width: 100px;
    height: auto;

    @media (max-width: 1000px) {
      width: 100px;
    }
  }

  .detail-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

    &.move-left {
      grid-template-columns: 30% 70%;
      transition: grid-template-columns 0.6s ease-in-out;
    }
  }

  .detail-container {
    margin: 0 7%;
    opacity: 0;
    transform: translateY(100px); /* Start off-screen */
    transition: all 0.6s ease-in-out;

    h4 {
      margin: 40px 100px;
    }

    p {
      margin: 20px 10px;
    }

    &.slide-in {
      opacity: 1;
      transform: translateX(0); /* Slide into view from the left */
    }

    @media (max-width: 1000px) {
      margin: 0;
      opacity: 1;
      grid-template-columns: 100%;
      transform: translateY(0); /* Start off-screen */

      h4 {
        margin: 0;
      }
    }
  }

  .detail-text {
    margin-bottom: 50px;
  }

  .detail-image {
    align-items: center;
    object-fit: cover;
    max-width: 70%;
  }

  .experience-tabs {
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      @media (max-width: 1000px) {
        margin: 30px 0;
      }
    }
  }
}
